*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: center;
}


ul{
    display: flex;
    /* list-style: none; */
    margin: 20px auto;
}
ul li {
    margin: 0px 12px;
    list-style: none;
    font-size: 23px;
 
}
