* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}


.main {
    
    background-image: url(backgroound\ image.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px,100vw);
    filter: opacity(0.77);
    width: 100vw;
    height: 70vh;
    position: relative;
    z-index: 1;
}
.nav {

    display: flex;
    /* background-color: pink; */
    max-width: 80vw;
    align-items: center;
    margin: 2px auto;
    justify-content: space-between;
    /* position: absolute; */
    /* top:0px; */

    


}
span img{
    margin: 12px 12px;
    position: relative;
    z-index: 10;
    

}
.btn{
    margin: 0px 60px;
    position: relative;
    z-index: 10;
 
}

.meri{
    color: white;
    
    
}
.buttons{
    background-color: rgb(0 0 0 / 56%);
    border: 2px solid white;
    padding: 4px 30px;
    margin-right: 12px;
    font-size: 15px;
    margin-top: -8px;
    
}
/* .kutta{
    background-color: rgba(91, 87, 87, 0.274);
    color: white;
    } */
    .jaan{
        background-color: red;
        border: 2px solid rgb(129, 0, 0);
        border-radius: 5px;
        padding: 10px 18px;
        font-size: 13px;
}
    .jaan:hover{
    background-color: rgb(230, 3, 3);
    cursor: pointer;
    }
    .heading{
        /* border: 2px solid white; */
        width: 80vw;
        height: 60vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 12;
       
    
    }
    .h1{
        font-weight: 900;
        font-size: 52px;
        margin-bottom: 7px;
        margin-top: -20px;

    }
    .para{
        margin-bottom: 10px;
        font-size: 27px;
        font-weight: 400;
        
    }
    .h3{
        font-size: 21px;
        font-weight: 400;
    }
    .form{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .email{
        background-color: rgba(20, 19, 19, 0.568);
        color: rgb(112, 110, 110);
        border: 1px solid white;
        border-radius: 4px;
        font-size: 15px;
        padding: 6px 15px  6px 6px;
    }
    .submit{
        background: rgb(229, 9, 20);
        color: white;
        font-size: 24px;
        margin-left: 12px;
        padding: 2px 5px 0px 12px;
        border: 2px solid red;
        border-radius: 4px;

    }
    .submit:hover{

        background-color:  rgb(238, 64, 73);   
    }
