@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}
.company{
    margin-top: 10px;
}
.nav{
    display: flex;
    
}
ul{
    display: flex;
    margin: 30px auto;
   
 

}
li{
   margin: 0px 12px;
   list-style: none;
   font-size: 23px;

}
li:hover{
   cursor: pointer;
   color: gray;

}
.content{

    /* border: 2px solid black; */
    min-height: 7vh;
    margin: 105px 0px 0px 0px;
    
}
.fat{
    margin: 65px ;
    justify-content: center;
    display: flex;
    font-weight: 100;
    font-size: 50px;

}
.b{
   margin: 0px 7px;
}
.orange{
    margin: 13px 13px;
}
.Download{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin: 10px 0px;
   
}
.ultra{
    font-size: 24px;
    font-weight: 500;
    
}
.second-line{
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.box{
    text-align: center;
    margin: 5px ;

}
.button{
    color: white;
    background-color: aqua;
    border: 1px solid aqua;
    padding: 12px 20px;
    border-radius: 7px;
}
.link{
    color: #fff;
    text-decoration: none;
}
.link:hover{
    color: #a9a9a9;
    
}
.photo{
    width: 119vh;
    margin:  auto;
    margin-top: 60px;
    margin-bottom: 35px;
    display: flex;
    justify-content: start;
}
.h3{
    margin: 10px 25px;
    font-size: 24px;
    font-weight: 400;

}
.info{
    display: flex;
    justify-content: center;
}
.black{
    color: white;
    background-color: #222 ;
    min-height: 500px;
    display: flex;
    

}
.box-1{
       display: flex;
       justify-content: center;
    text-align: center;
    align-items: center;
    width: 40vw;
    height: 234px;
    /* border: 2px solid white; */
    margin: 105px 12px 12px 195px;
    font-size: 24px;
}
.box-2{
    background-color: #fff;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    padding-top: 30px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-left: 35px;
    max-width: 345px;
    min-height: 150px;
    position: absolute;
    right: 50px;
    margin: 120px 162px 25px 19px
    
}
.Subscribe{
    color: aqua;
    font-size: 24px;
}
.email{
    color: #333 ;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;

}
label{
    font-size: 13px
}
#ansh{
    padding: 10px 25px;
    margin: 3px 0px 0px 0px;
}
.sub{
    text-align: center;
    margin-top: 12px;
    
    

}
.Sign{
    border: 2px solid aqua;
    border-radius: 4px;
    color: white;
    background-color: aqua;
    padding: 4px 70px;
    font-size: 20px;

}
.p{
    display: flex;
    flex-direction: column;
}
.para{
    font-size: 15px;
    font-weight: 500;
    margin-top: 7px;
}

footer{
    background-color: rgb(0, 0, 0);
    color: gray;
    font-size: 34px;
    text-align: center;
}