/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: orange;
}
h1{
    /* margin: 4px 2px; */
   color: aqua;
    text-align: center;
    background-color: gray;
}
ul{
    list-style: none;
}
.img{
    display: flex;
}