
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: rgb(15, 16, 25);
}
.container{

    margin: auto;
    width: 14vw;
    
   

}
.box{
    border: 4px solid rgb(15 255 24) ;
    border-radius: 12px;
    background-color: rgb(3, 4, 3);
    margin:  30px auto ;
    width: 40vw;
    height: 80vh;
    /* min-height: 80vh; */
    
}
.h{
    margin: 12px 5px;
    text-align: center;
    color: slategrey;
    font-family: "Poppins", sans-serif;
}
.form{
    margin: 25px 5px; 
    font-family: "Poppins", sans-serif;
}
#kutaa{
      
    border: 2px solid #2da10dcf;
    border-radius: 4px;
    margin: 0px 20px;
    padding: 1px 15px;
    color: darkred;
    background-color: black;

}
.label{
    margin: 0px 8px;
    font-weight: lighter;
}
.hero{
    margin: 6px 0px;
    /* text-align: center; */
}
.bete{
    margin: 0px 2px;
    font-weight: lighter;

}
#simi{
    border: 2px solid #2da10dcf;
    border-radius: 4px;
    margin: 0px 5px;
    padding: 1px 15px;
    color: darkred;
    background-color: black;
}
form{
    text-align: center;
}
.pink{
    background-color: black;
    color: rgb(27, 215, 64);
    padding: 5px 90px;
    margin: 5px 0px;
}
.q{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    height: 11vh;
    margin:  60px auto ;
    

    
}
q{
    color: slategrey;
}
/* .pink:hover{
    border-radius: 24px;
    cursor: pointer;
    background-color: red;
    color: black;

} */
