@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --vansh-color: rgba(158, 80, 80, 0.526);
    --text-color: white;
    --hover-color: gray;
    --body-color: black;
}
/* :root {
    --vansh-color: rgba(137, 254, 78, 0.526);
    --text-color: white;
    --hover-color: rgb(53, 89, 49);
    --body-color: rgb(17, 71, 17);
} */

body {
    background-color: var(--body-color);
    color: white;
}

ul {
    display: flex;
    list-style: none;
    background-color: var(--vansh-color);
    font-family: "Poppins", sans-serif;


}

li {
    margin: 25px 50px;
    color: var(--text-color);
    font-size: 16px;
    padding: 2px 10px;

}

li:hover {
    color: var(--hover-color);
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: var(--text-color);

}

ul li a:hover {
    color: var(--hover-color);
}